

<h1>{{ nombre }}</h1>

<dl>
    <td> Nombre: </td>
    <dd> {{ nombre }} </dd>
    
    <td> Edad: </td>
    <dd> {{ edad }} </dd>
    
    <td> Función: </td>
    <dd> {{ obtenerNombre() }} </dd>
    
    <td> Capitaalizado: </td>
    <dd> {{ nombreCapitalizado }} </dd>
</dl>

<button (click)="cambiarNombre()">
    Cambiar Héroe
</button>

<button (click)="cambiarEdad()">
    Cambiar edad
</button>

<!-- <h1></h1>
<button (click)="regresarNombre()">
    Regresar Héroe
</button>

<button (click)="regresarEdad()">
    Regresar edad
</button> -->
